@model Albergo.Models.ServizioAggiuntivo

@{
    ViewBag.Title = "ListServizi";
    Albergo.Models.ElementoListaPrenotazioni Prenotazione = ViewBag.Prenotazione;
    List<Albergo.Models.ServizioAggiuntivo> listServiziAggiunti = ViewBag.listServiziAggiunti;
}



<div class="container">

    <div class="row">
        <div class="col">
            <div class="row mt-2 mb-3  fw-bold text-white p-3 position-sticky">


                <div class="col-1">Cognome</div>
                <div class="col-2">Email</div>
                <div class="col-1">Camera N°</div>
                <div class="col">Data Prenotazione</div>
                <div class="col">Inizio Soggiorno</div>
                <div class="col">Fine Soggiorno</div>
                <div class="col">Caparra</div>
                <div class="col">Costo</div>
                <div class="col">Tipo Soggiorno</div>
                
            </div>

                <div class="">
                    <div class="row fw-bold p-3 text-white glass mb-3 cursor swing-in-top-fwd">


                        <div class="col-1">@Prenotazione.Cognome</div>
                        <div class="col-2 overflow-hidden">@Prenotazione.Email</div>
                        <div class="col-1">@Prenotazione.NumCamera</div>
                        <div class="col">@Prenotazione.DataPrenotazione.ToShortDateString()</div>
                        <div class="col">@Prenotazione.DataInizio.ToShortDateString()</div>
                        <div class="col">@Prenotazione.DataFine.ToShortDateString()</div>
                        <div class="col">@Prenotazione.Caparra €</div>
                        <div class="col">@Prenotazione.Costo €</div>
                        <div class="col">@Prenotazione.TipoSoggiorno</div>
                        
                    </div>
                </div>

        </div>
    </div>
    <div class="row">
        <div class="col-6">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>ServizioAggiuntivo</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Descrizione, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.Descrizione, ViewBag.dropListServizi as SelectList, "Seleziona un Servizio", new { @class = "form-control", required = "required" })
                            @Html.ValidationMessageFor(model => model.Descrizione, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Data, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Data, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Data, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Qta, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Qta, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Qta, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Prezzo, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Prezzo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Prezzo, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.idPrenotazione, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.idPrenotazione, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.idPrenotazione, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <div class="row mt-2 mb-3  fw-bold text-white p-3 position-sticky">


                        <div class="col-1">Descrizione</div>
                        <div class="col-2">Data</div>
                        <div class="col-1">Qta</div>
                        <div class="col">Prezzo</div>
                        <div class="col">idPrenotazione</div>
                        <div class="col">Controlli</div>
                    </div>

                    @foreach (var item in listServiziAggiunti)
                    {
                        <div class="cardHover">
                            <div class="row fw-bold p-3 text-white glass mb-3 cursor swing-in-top-fwd">



                                <div class="col-1">@item.Descrizione</div>
                                <div class="col-2 overflow-hidden">@item.Data</div>
                                <div class="col-1">@item.Qta</div>
                                <div class="col">@item.Prezzo</div>
                                <div class="col">@item.idPrenotazione</div>
                                <div class="col">
                                    <a href="@Url.Action("DelPrenotazione", "Prenotazione" ,new { idPrenotazione = item.idPrenotazione })" class="btn btn-danger ms-1">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                    }




                </div>
            </div>
        </div>
    </div>
</div>





